<!--주석 필수-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    th:href="@{../}" -->
<!--    th:replace="layout/header :: head  : head의 작업을 header.html 파일에서 대체하겠다는 선언-->
<!--    <head th:replace="layout/header :: head ('로그인')">-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>펫송완료</title>

    <link rel="stylesheet" th:href="@{/css/TopMenu/login.css}" href="/src/main/resources/static/css/TopMenu/login.css">
    <link rel="stylesheet" th:href="@{/css/layout_CSS/header.css}" href="/src/main/resources/static/css/layout_CSS/header.css">

    <script th:src="@{https://use.fontawesome.com/releases/v5.2.0/js/all.js}" src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <!-- 네비게이션 관련 js 링크 -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js}" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script th:src="@{https://use.typekit.net/hoy3lrg.js}" src="https://use.typekit.net/hoy3lrg.js"></script>

    <!-- 폰트어썸 이미지 불러오기 링크 -->
    <link rel="stylesheet" th:href="@{https://pro.fontawesome.com/releases/v5.10.0/css/all.css}" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


<!--    일부러 타임리프 안건거-->
<!--    화면단에 header, footer 출력하기 위함-->
<script src="../static/js/layout_JS/call_layout.js"type="text/javascript"> </script>

</head>

<body>
    <div class="all">
    <div class="container">
       <div id="headers"></div>
        <!-- header 삽입 -->
        <header th:replace="/layout/header :: header"></header>

<main>
    <div id="Login">

        <form method="post" th:action="@{/auth/user/login}" id="authForm" >
            <h1>Member Login</h1>
            <!--예외사항-->
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                아이디 혹은 비밀번호가 잘못 입력되었습니다.
            </div>
            <div th:if="${param.logout}" class="alert alert-primary" role="alert">
                로그아웃이 완료되었습니다.
            </div>

            <div id="Login-top">
                <input type="text" id="username" name="username" placeholder="ID" required="required">
                <input type="password" id="password" name="password" placeholder="Password" required="required">
            </div>

            <!-- 로그인 유지 체크박스 추가-->
            <div class="checkbox mb-3">
                <ul>
                    <input type="checkbox" name="remember-me" id="#">
                    <li><a label for="#" aria-describedby="rememberMeHelp">로그인 유지</a></label></li>
                </ul>
            </div>
            <button id="Login-Btn" >로그인</button>

            <button class="naver-Btn" type="submit" disabled="disabled">네이버 로그인</button>
            <button class="kakao-Btn" type="submit" disabled="disabled">카카오 로그인</button>


            <ul>
                <li><a href="#">아이디찾기</a></li>
                <li><a href="#">비밀번호찾기</a></li>
            </ul>

            <!--회원가입 안내-->
            <button id="Signup-Btn" type="button" th:onclick="'location.href=\''+ @{/auth/user/save} + '\''"
                    onclick="location.href='joinus.html' ">회원가입</button>

        </form>

        </div>
</main>

        <div id="footers"></div>
        <!--footer 삽입 -->
        <footer th:replace="layout/footer :: footer"></footer>

    </div>
</div>
    <!— js 링크 —>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!—회원가입의 유효성 —>
    <script th:src="@{/js/user.js}"></script>

</body>

</html>