<!--주석 필수-->
<!--경로가 각각 2개씩 지정되어야 된다. -->
<!--기존경로 1개 Thymeleaf 경로-->
<!--기존의 경로에서 변경사항이 생기면 카톡으로 알려줘-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script th:src="@{https://use.fontawesome.com/releases/v5.2.0/js/all.js}"></script>

    <title>펫송완료</title>
    <!--    <link rel="stylesheet" href="/static/css/index.css">-->



    
    <!--    Thymeleaf 경로-->
    <link rel="stylesheet" th:href="@{../css/Main/index.css}"/>
    <link rel="stylesheet" th:href="@{../css//Main/header.scss}" />
    <link rel="stylesheet" href="/src/main/resources/static/css/Main/index.css">
    <link rel="stylesheet" href="/src/main/resources/static/css//Main/header.scss">


    <!-- 네비게이션 관련 js 링크 -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>


    <script>try { Typekit.load({ async: true }); } catch (e) { }</script>

    <!-- 폰트어썸 이미지 불러오기 링크 -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap" rel="stylesheet">
<!--    header_footer -> layout-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#headers").load("/src/main/resources/templates/layout/header.html");
            $("#footers").load("/src/main/resources/templates/layout/footer.html");
            $("#scrolls1").load("/src/main/resources/templates/layout/scroll1.html");
            $("#scrolls2").load("/src/main/resources/templates/layout/scroll2.html");
           

        }
        );
    </script>

</head>

<body>
    <div class="all">
       
    <div class="container">

        <!-- -----------------------------------------------------최고 상단 메뉴 바 + 검색창---------------------------------------------------------------------       -->

        <div id="headers"></div>

        <!-- ----------------------------------------------사이드 퀵메뉴---------------------------메인 왼쪽 ------------------------------------------------------------------------ -->

        <div id="scrolls1"></div>
        <div id="scrolls2"></div>
       

        <!-- --------------------------------------------------------------------------메인 왼쪽 ------------------------------------------------------------------------ -->

        <main>
            <div id="left">
                <img class="cat1-img" src="/src/main/resources/static/image/cat1.jpeg" alt="My Image">
                <img class="dog4-img" src="/src/main/resources/static/image/dog4.jpeg" alt="My Image">
                <img class="dog1-img" src="/src/main/resources/static/image/dog1.jpeg" alt="My Image">
                <img class="dog2-img" src="/src/main/resources/static/image/dog2.jpeg" alt="My Image">
        
        
        
            </div>
            <!-- ------------------------------------------------------------------------------메인 중간-------------------------------------------------------------------------- -->
            <div id="middle">
                <img class="dog5-img" src="/src/main/resources/static/image/dog5.jpeg" alt="My Image" width="95%">
                <!--메인 중간구역 베스트 상품 목록-->
                <div class="best-item">
                    <h3>BEST</h3>
                    <hr align="left" style="border: solid 2px #000; width: 40%; background-color: rgb(0, 0, 0)">
                    <a href="#"><img class="best-img" src="/src/main/resources/static/image/Dog_FW4.jpg" alt="몽블랑패딩(mint)">
                    </a>
                    <h2>갑자기 온 한파! <br> 겨울 산책 필수 아이템!</h2>
                    <br>
                    <span>우리 댕댕이의 감기가 걱정된다면?</span>
                    <span>다양한 스타일의 패딩을 추천합니다!</span>
                    <br>
        
                    <!--큰 베스트 상품목록 밑에 달리는 작은 베스트 상품목록-->
                    <div class="small-best-item">
                        <a href="#"><img class="small-product" src="/src/main/resources/static/image/Dog_FW5.jpg"
                                alt="몽블랑패딩(pink)"></a>
                        <h4> 몽블랑리버시블패딩(Pink)</h4>
                     
                        <p>54,000원</p>

                    </div>
        
                    <div class="small-best-item">
                        <a href="#"><img class="small-product" src="/src/main/resources/static/image/Dog_FW6.jpg"
                                alt="몽블랑패딩(ivory)"> </a>
                        <h4> 몽블랑리버시블패딩(ivory)</h4>
              
                        <p>54,000원</p>
                    </div>
                   
                </div>
        
                <div class="best-item">
                    <hr align="left" style="border: solid 2px #000;  width: 40%;">
                    <a href="#"><img class="best-img" src="/src/main/resources/static/image/product4.jpeg"
                            alt="별밤잠옷SET(사람+강아지)"> </a>
                    <h2>반려견과 함께 입는 별밤잠옷 세트</h2>
                    <br>
                    <span>우리 댕댕이들과 함께 입는 커플잠옷세트 입니다!</span>
                    <br>
                    <span> 별밤잠옷 SET(사람+강아지)</span>
                    <br>
                    <br>
                    <p><del>105,000</del>원</p>
                    <p>73,500원</p>
                    <!--큰 베스트 상품목록 밑에 달리는 작은 베스트 상품목록-->
        
                </div>
                <div class="best-item">
                    <hr align="left" style="border: solid 2px #000;  width: 40%;">
                    <a href="#"><img class="best-img" src="/src/main/resources/static/image/product5.jpg" alt="별밤잠옷SET(사람+강아지)">
                    </a>
                    <h2>깨땡카라티</h2>
                    <br>
                    <span>땡땡이는 늘 인기만점이죠?<br> 스판이라 신축이 좋은 아이템!</span>
                    <br>
                    <div class="small-best-item">
                        <a href="#"><img class="small-product" src="/src/main/resources/static/image/깨땡카라티.png"
                                alt="몽블랑패딩(pink)"></a>
                        <h4> 깨땡카라티(Pink & Ivory)</h4>
                        <p>20,000원</p>
                    </div>
        
                    <!--큰 베스트 상품목록 밑에 달리는 작은 베스트 상품목록-->
        
                </div>
        
        
        
        
        
        
            </div>
            <!-- -------------------------------------------------------------------------------------메인 오른쪽---------------------------------------------------------------------- -->
            <div id="right">
                <img class="dog6-img" src="/src/main/resources/static/image/dog6.jpeg" alt="My Image" width="100%"
                    height="544px">
        
                <div class="best-item1">
                    <h3>EVENT</h3>
                    <hr align="left" style="border: solid 2px black; width: 40%; background-color: black;">
                    <a href="#"><img class="best-img" src="/src/main/resources/static/image/coupon.jpeg" alt="가입쿠폰이벤트">
                    </a>
                    <h2>펫송완료가 처음이신가요?
                    </h2>
                    <br>
                    <p>신규 회원 가입하신 고객님께 15% 쿠폰을 드립니다.</p>
                </div>
        
        
                <div class="best-item2">
                    <hr align="left" style="border: solid 2px #000;  width: 40%;">
                    <a href="#"><img class="best-img" src="/src/main/resources/static/image/coupon2.jpeg" alt="10%쿠폰">
                    </a>
                    <h2>카톡 플친을 위한 10% 쿠폰
                    </h2>
                    <br>
                    <p>펫송완료의 카톡 플친이 되어주세요. 선착순 2만 명 한정 10% 쿠폰을 즉시 지급합니다. 펫송완료의 혜택, 이벤트 정보까지 한 번에, 편하게 받아보세요.</p>
                </div>


                <div class="instagram">
                    <h3>INSTAGRAM</h3>
                    <hr align="left" style="border: solid 2px black; width: 40%; background-color: black;">
                    <h2>펫친구들과 추억을 쌓고 자랑해보세요.</h2>
        
                    <ul class="photozone">  
                        <li>
                            <img class="instagram-photo" src="/src/main/resources/static/image/instagram1.jpg">
                            <p>야옹이의찰칵</p>
                        </li>
                        <li>
                            <img class="instagram-photo" src="/src/main/resources/static/image/instagram2.jpg">
                            <p>뭐하고있냥</p>
                        </li>
                        <li>
                            <img class="instagram-photo" src="/src/main/resources/static/image/instagram3.jpg">
                            <p>갬성먹방</p>
                        </li>
                        <li>
                            <img class="instagram-photo" src="/src/main/resources/static/image/instagram4.jpg">
                            <p>이쁘죠?</p>
                        </li>
                        <li>
                            <img class="instagram-photo" src="/src/main/resources/static/image/instagram5.jpg">
                            <p>경치구경중</p>
                        </li>
                        <li>
                            <img class="instagram-photo" src="/src/main/resources/static/image/instagram6.jpg">
                            <p>울강쥐애기때^^</p>
                        </li>
                        <li>
                            <img class="instagram-photo" src="/src/main/resources/static/image/instagram7.jpg">
                            <p>밀착샷!!!</p>
                        </li>
                        <li>
                            <img class="instagram-photo" src="/src/main/resources/static/image/instagram8.jpg">
                            <p>졸려요ㅜㅜ</p>
                        </li>
                        <li>
                            <img class="instagram-photo" src="/src/main/resources/static/image/instagram9.jpg">
                            <p>뭘쳐다보냥</p>
                        </li>
                    </ul>
        
        
        
                    <br>
                    <h3>#펫송완료 #petsongwanryo </h3>
                    <h4>#강지스타그램 #냥냥스타그램 #펫스타그램 #집사스타그램<br> #반려견모임 #반려묘모임</h4>
        
                </div>
        </main>
        <!-- --------------------------------------------bottom---------------------------------- -->
        <div class="mainbottom">
        
        
            <div class="bottomleft">
                <h1>10월의 PETVIDEO</h1>
                <hr align="left" style="border: solid 2px black; width: 40%; background-color: black;">
                <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/6_MOxCDkIEA"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <h2>11월 이달의 PetVideo 추첨! </h2>
                <h3>1등은 펫송완료 모바일 상품권 5만원 증정!</h3>
                <h3>모집기간: 10월19일 ~ 10월 28일 (Notice 참조)</h3>
            </div>
        
        
        
            <div class="bottomright">
                <h1>Tip</h1>
                <hr align="left" style="border: solid 2px black; width: 40%; background-color: black;">
        
                <a href="https://post.naver.com/viewer/postView.nhn?volumeNo=8460720&memberNo=35651025">
                <img src="/src/main/resources/static/image/애견지식1.jpg" id=mainImage class="n1" alt="YsjImage"
                    style="width:700px;height:500px;">
                    <img src="/src/main/resources/static/image/애견지식2.jpg" id=mainImage class="n2" alt="YsjImage"
                    style="width:700px;height:500px;">
                    <img src="/src/main/resources/static/image/애견지식3.jpg" id=mainImage class="n3" alt="YsjImage"
                    style="width:700px;height:500px;">
                    <img src="/src/main/resources/static/image/애견지식4.jpg" id=mainImage class="n4" alt="YsjImage"
                    style="width:700px;height:500px;">
                    <img src="/src/main/resources/static/image/애견지식5.jpg" id=mainImage class="n5" alt="YsjImage"
                    style="width:700px;height:500px;">

                </a>

        
        
            </div>
        
        
        </div>
       
        <!-- --------------------------------------------메인 bottom---------------------------------- -->

        <!-- ------------------------------------------------------------------------------------푸터------------------------------------------------------------------------------ -->
        <div id="footers"></div>

<div style=" width: 100%; height: 1300px;">

        <div id="intro1">
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
    --<span style="font-size: 30px;">불법 배포를 금지합니다.</span>
            --------------------------------
            --------------------------------------------------------
            -----------------------------------------------------
            ------------
    <span style="font-size: 20px;">Illegal distribution is prohibited.</span>---------------------
            -------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            --------------------------------------------------------
            -------------------

        </div>
<!-- ----------------------------------------------------------------         -->
        <div id="intro2">
            
            <div id="pr-1">
                <h1>Petsong Wanryo</h1>
            </div>

            <div id="pr-2">
                <h1>Start </h1>
                <br><br>
                <h2>2021.09.30~</h2>
            </div>

            <div id="pr-3">
                <h1>Made by </h1>
                <br><br>
                <h2>Hanseo Department of ComputerEngineering</h2>
            </div>

            <div id="pr-4">
                <h1>FE Developer</h1> 
                <br><br>
                <h2>Lim Ho-Jun</h2>
                <br><br>
                <h2>Park Jeong-Ho</h2>
            </div>

            <div id="pr-5">
                <h1>BE Developer</h1>
                <br><br>
                <h2>Moon Ji-Won</h2>
                <br><br>
                <h2>Lee Gi-Ui</h2>
            </div>
        </div>
  <!-- -------------------------------------------       -->
        <div id="intro3">
            
            <table id="about" border="0">
                
                <tr>
                    <td>PM,PE</td>
                    <td>Moon Ji-Won</td>
                    <td><a href="https://github.com/mon99745"><i class="fab fa-github fa-2x"></i></a></td>
                    <td><i class="fas fa-envelope "></i> pjh31208@naver.com</td>
                    <td><i class="fab fa-blogger"></i><a href="https://velog.io/@pjh1011409">  https://velog.io/@pjh1011409</a> </td>
                </tr>
                <tr>
                    <td>PE</td>
                    <td>Lim Ho-Jun</td>
                    <td><a href="https://github.com/rho510"><i class="fab fa-github fa-2x"></i></a></td>
                    <td><i class="fas fa-envelope "></i> pjh31208@naver.com</td>
                    <td><i class="fab fa-blogger"></i><a href="https://velog.io/@pjh1011409">  https://velog.io/@pjh1011409</a> </td>
                </tr>
                <tr>
                    <td>PE</td>
                    <td>Lee Gi-Ui</td>
                    <td><a href="https://github.com/lge236"><i class="fab fa-github fa-2x"></i></a></td>
                    <td><i class="fas fa-envelope "></i> pjh31208@naver.com</td>
                    <td><i class="fab fa-blogger"></i><a href="https://velog.io/@pjh1011409">  https://velog.io/@pjh1011409</a> </td>
                </tr>
                <tr>
                    <td>PE</td>
                    <td>Park Jeong-Ho</td>
                    <td><a href="https://github.com/pjh1011409"><i class="fab fa-github fa-2x"></i></a></td>
                    <td><i class="fas fa-envelope "></i>  pjh31208@naver.com</td>
                    <td><i class="fab fa-blogger"></i><a href="https://velog.io/@pjh1011409" target="_blank">  https://velog.io/@pjh1011409</a> </td>
                </tr>
            
            </table>

            
        </div>
        
        
</div>
    <!-- js 링크 -->
    <script src="/src/main/resources/static/js/index.js"></script>

</body>

</html>