<!--주석 필수-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>펫송완료</title>
    <!--    <link rel="stylesheet" href="/static/css/index.css">-->
    <link rel="stylesheet" href="/src/main/resources/static/css/MainMenu/LIVING/House.css">
    <link rel="stylesheet" href="/src/main/resources/staticcss//Main/header.scss">
    <!-- 네비게이션 관련 js 링크 -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try { Typekit.load({ async: true }); } catch (e) { }</script>

    <!-- 폰트어썸 이미지 불러오기 링크 -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#headers").load("/src/main/resources/templates/Header_Footer/header.html");
            $("#footers").load("/src/main/resources/templates/Header_Footer/footer.html");
        }
        );
    </script>

</head>

<body>
    <div class="container">

        <!-- -----------------------------------------------------최고 상단 메뉴 바 + 검색창---------------------------------------------------------------------       -->

        <div id="headers"></div>

        <!-- --------------------------------------------------------------------------메인 왼쪽 ------------------------------------------------------------------------ -->


        <!-- --------------------------------------------메인 bottom---------------------------------- -->

        <!-- ------------------------------------------------------------------------------------푸터------------------------------------------------------------------------------ -->
        <div id="footers"></div>


    </div>
    <!-- js 링크 -->
    <script src="/src/main/resources/static/js/Dog_SS.js"></script>

</body>

</html>