

<!-- -----------------------------------------------푸터 HTML------------------------------------ -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="/src/main/resources/static/css/layout_CSS/footer.css">
    </head>
<footer th:fragment="footer">
    <div class="Topleft">
        <li>펫송완료</li><br>
        <li>COPYRIGHT @펫티쉬 ALL RIGHTS RESERVED</li>
        <br>
        <li>COPYRIGHT @29cm ALL RIGHTS RESERVED</li>


    </div>
    <div class="Topright">
        <li>(Return / Exchange)</li><br>
        <li>충청남도 서산시 해미면 대곡2길 312-10</li>

    </div>

    <div class="MainName">
       <a href="/src/main/resources/templates/Main/index.html"> <p>Petsong Wanryo</p></a>
    </div>
    <div class="right">
        <li>Made by HanseoProject</li>
    </div>

    <div class="left">
        <ul>
            <li>TEL:010-xxx-xxx</li><br>
            <li>평일 am 11:00 ~ pm 8:00</li><br>
            <li>토,일 / 공휴일 휴무</li>
        </ul>
    </div>
    <div class="center">
        <a href="https://ko-kr.facebook.com/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://twitter.com/?lang=ko" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>

    </div>
</footer>
</html>