<!--주석 필수-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   
    <title>펫송완료</title>

    <!---CSS 링크--->
    <link rel="stylesheet" th:href="@{/css/MainMenu/CAT/CAT_SS.css}" href="/src/main/resources/static/css/MainMenu/CAT/CAT_SS.css">
    <link rel="stylesheet" th:href="@{/css/layout_CSS/header.css}" href="/src/main/resources/static/css/layout_CSS/header.css">
        
   <!-- 네비게이션 관련 js 링크 -->
   <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js}"
   src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script th:href="@{https://use.typekit.net/hoy3lrg.js}"
   src="https://use.typekit.net/hoy3lrg.js"></script>
  

     <!-- 폰트어썸 이미지 불러오기 링크 -->
    <link rel="stylesheet" th:href="@{https://pro.fontawesome.com/releases/v5.10.0/css/all.css}"
          href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  

  <!--    header_footer_scroll -> layout-->
<script src="../../../static/js/layout_JS/call_layout.js"type="text/javascript"> </script>

</head>

<body>
    <div class="all">
    <div class="container">

          <!-- -----------------------------------------------------최고 상단 메뉴 바 + 검색창---------------------------------------------------------------------       -->

          <div id="headers"></div>
          <!-- header 삽입 -->
          <header th:replace="/layout/header :: header"></header>
      <!-- ----------------------------------------------사이드 퀵메뉴---------------------------메인 왼쪽 ------------------------------------------------------------------------ -->
  
               <div id="scrolls1"></div>
          <div th:replace="/layout/scroll1 :: side1"></div>
               <div id="scrolls2"></div>
          <div th:replace="/layout/scroll2 :: side2"></div>
        <!-- --------------------------------------------------------------------------메인 왼쪽 ------------------------------------------------------------------------ -->

        <main>
            <!-- -------------------------------------------메인 상단--------------------------------------- -->
            <div id="top-main">
                <!-- ---------------------------------------메인 상단 왼쪽-------------------------------- -->
                <div id="top-left">
                    <div class="left-content">
                        <h1>CAT's S/S</h1>
                        <h4>집사야 봄,여름을 부탁해~</h4>
                        <br>
                        <h2>New F/W Collection</h2>
        
                        <img th:src="@{/image/Cat_FW/catfw_5.jpeg}" src="/src/main/resources/static/image/Cat_FW/catfw_5.jpeg" id=mainImage class="n1" alt="YsjImage"
                            style="width:650px;height:600px;">
                      
        
        
                    </div>
                </div>
                <!-- ---------------------------------------메인 상단 오른쪽-------------------------------- -->
        
                <div id="top-right">
                    <div id="right-content">
        
                        <h2>Best</h2>
                        <img th:src="@{/image/Cat_FW/catfw_8.jpeg}" src="../../../static/image/Cat_FW/catfw_8.jpeg">
                        <img th:src="@{/image/Cat_FW/catfw_9.jpeg}" src="../../../static/image/Cat_FW/catfw_9.jpeg">
                    </div>
                </div>
            </div>
            <!-- ---------------------------------------메인 하단 -------------------------------- -->
        
            <div id="bottom-main">
        
            
                
         
              
        

        <!-- ------------------------------------------상품리스트------------------------------------ -->
                <div id="bottom-main-middle">
                        <div id="cloth">
                                <nav id="main-bar">
                                    <ul>
                                        <li class="active"><a href="#">ALL</a></li>
                                        <li ><a href="#">NEW</a></li>
                                        <li ><a href="#">BEST</a></li>
                                        <li ><a href="#">LIKE</a></li>

                                        
                                    </ul>
                                    <!-- All 리스트에서 상품검색 기능(best,new,like는 어차피 분류된 리스트니까 검색 x) -->
                                    <input type="text" v-model="itemName"  class="search-bar" placeholder="    상품이름"/>
                                </nav>
                                
                           
                          
                            <!-- All에 대한 상품리스트 -->
                            <div>
                                <!-- All 배열의 길이를 출력 = 그 안의 상품 갯수를 출력 -->
                                <div class="total">total {{items.length}}</div>
                                <ul style="list-style:none;" id="list"> 
                                    <!-- v-for을 통해 items의 리스트 내용을 반복하여 출력        -->
                                    <template v-for="item in items"  v-if="item.title.includes(itemName)" :key="item.id">                                  
                                        <li class="cloth-layout">                
                                            <img th:src="@{item.image}" :src="item.image" class="cloth-image"/> <!--배열item의 이미지를 출력-->
                                            <div class="cloth-title">{{item.title}}</div>   <!--배열item의 상품명를 출력-->                                  
                                            <div class="cloth-price">{{item.price}}원</div><!--배열item의 상품가격를 출력-->
                                            <div class="icon">
                                                <img th:src="@{/image/icon_logo/empty-heart.png}" src="/src/main/resources/static/image/icon_logo/empty-heart.png" class="empty-heart">
                                                <img th:src="@{/image/icon_logo/empty-cart.png}" src="/src/main/resources/static/image/icon_logo/empty-cart.png" class="empty-cart">
                                            </div>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                             <!-- New 에 대한 상품리스트 -->
                            <div>
                                <div class="total">total {{News.length}}</div>
                                <ul style="list-style:none;">
                                    <template v-for="New in News" :key="New.id">                                   
                                        <li class="cloth-layout">                
                                            <img :src="New.image" class="cloth-image"/>
                                            <div class="cloth-title">{{New.title}}</div>                                        
                                            <div class="cloth-price">{{New.price}}원<div>
                                                <div class="icon">
                                                    <img th:src="@{/image/icon_logo/empty-heart.png}" src="/src/main/resources/static/image/icon_logo/empty-heart.png" class="empty-heart">
                                                    <img th:src="@{/image/icon_logo/empty-cart.png}" src="/src/main/resources/static/image/icon_logo/empty-cart.png" class="empty-cart">
                                                </div>
                                        </li>
                                    </template>
                                <ul>
                            </div> 
                             <!-- BEST에 대한 상품리스트 -->
                            <div>
                                <div class="total">total {{bests.length}}</div>
                                <ul style="list-style:none;">
                                    <template v-for="best in bests" :key="best.id">                                   
                                        <li class="cloth-layout">                
                                            <img :src="best.image" class="cloth-image"/>
                                            <div class="cloth-title">{{best.title}}</div>                                        
                                            <div class="cloth-price">{{best.price}}원<div>
                                                <div class="icon">
                                                    <img th:src="@{/image/icon_logo/empty-heart.png}" src="/src/main/resources/static/image/icon_logo/empty-heart.png" class="empty-heart">
                                                    <img th:src="@{/image/icon_logo/empty-cart.png}" src="/src/main/resources/static/image/icon_logo/empty-cart.png" class="empty-cart">
                                                </div>
                                        </li>
                                    </template>
                                <ul>
                            </div> 
                            <!-- LIKE에 대한 상품리스트 -->
                            <div>
                                <div class="total">total {{likes.length}}</div>
                                <ul style="list-style:none;">
                                    <template v-for="like in likes"  :key="like.id">                                  
                                        <li class="cloth-layout">                
                                            <img :src="like.image" class="cloth-image"/>
                                            <div class="cloth-title">{{like.title}}</div>                                     
                                            <div class="cloth-price">{{like.price}}원</div>
                                            <div class="icon">
                                                <img th:src="@{/image/icon_logo/empty-heart.png}" src="/src/main/resources/static/image/icon_logo/empty-heart.png" class="empty-heart">
                                                <img th:src="@{/image/icon_logo/empty-cart.png}" src="/src/main/resources/static/image/icon_logo/empty-cart.png" class="empty-cart">
                                            </div>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                          

                            
                         

                        </div>
                </div>
        
                <!-- ---------------------------------------페이지 표시 버튼------------------------------- -->
        
                <div id="bottom-main-bottom">
        
                    <div class="buttons">
                        <ul>
                            <li><i class="fas fa-angle-double-left"></i></li>
                            <li><i class="fas fa-angle-left"></i></li>
                            <li>1</li>
                            <li>2</li>
                            <li><i class="fas fa-angle-right"></i></li>
                            <li><i class="fas fa-angle-double-right"></i></li>
        
                        </ul>
                    </div>
        
        
        
                </div>
        
        
        
        
        
        </main>
        <!-- --------------------------------------------메인 bottom---------------------------------- -->

        <!-- ------------------------------------------------------------------------------------푸터------------------------------------------------------------------------------ -->
        <div id="footers"></div>
        <!-- footer 삽입 -->
        <footer th:replace="layout/footer :: footer"></footer>

    </div>
    </div>
    <!-- js 링크 -->

<script th:src="@{https://cdn.jsdelivr.net/npm/vue/dist/vue.js}" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script th:src="@{/js/MainMenu/Cat/Cat_SS.js}" src="../../../static/js/MainMenu/Cat/Cat_SS.js"></script>
</body>
<script th:src="@{/js/mainmenu/jjim.js}" src="../../../static/js/mainmenu/jjim.js"></script>

</html>
