/* --------------------------------css 기본틀--------------------------------------------- */
* {
  margin: 0; /* 마진 리셋 */
  padding: 0; /* 패딩 리셋 */
}

body {
  display: block;
}

/**/
/* !!!! 화면 비율 일정하게 조절 !!!!
  ex> 화면 줄어들면 그에 맞는 비율로 줄고, 늘면 그에 맞는 비율로 늠
  가까이 확대되면 스크롤 이용 */
.all {
  width: 1480px;
  margin: 0 auto;
}
.container {
  width: 100%;
  padding-right: var(1rem);
  padding-left: var(1rem);
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  position: relative;
  max-width: 1480px;
}

/* 링크 걸린거 색깔 없애기 */
a:visited {
  color: inherit;
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}
/* -------------------------------------------------변경되는 메인-------------------------------- */

main {
  width: 100%;
  height: 1000px;
  background-color: white;
  text-align: center;
}

#Login {
  display: inline-block;
  margin-top: 150px;
  width: 500px;
  height: 500px;
  border: 2px solid #cacaca;
  border-radius: 2rem;
}

form {
  margin-top: -30px;
  padding: 65px;
}
#Login h1 {
  margin-top: 30px;
  color: #111;
}

#Login-top input {
  width: 350px;
  height: 20px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 0;
  outline: none;
  border: 2px solid #cacaca;
}
#username:focus {
  border: 2px solid black;
}
#password:focus {
  border: 2px solid;
}
#Login-Btn {
  margin-top: 30px;
  width: 370px;
  height: 50px;
  background-color: rgb(34, 34, 34);
  color: #fff;
}

#Signup-Btn {
  margin-top: 30px;
  width: 370px;
  height: 50px;
  background-color: rgb(34, 34, 34);
  color: #fff;
}

#Login-Btn:hover {
  background-color: #fff;
  color: #000;
}

#Signup-Btn:hover {
  background-color: #fff;
  color: #000;
}

.naver-Btn {
  margin-top: 10px;
  width: 182px;
  height: 40px;
  color: #fff;
  border: 0;
  outline: 0;
  background-color: rgb(38, 191, 28);
}
.kakao-Btn {
  margin-top: 10px;
  width: 182px;
  height: 40px;
  border: 0;
  outline: 0;
  color: #000;
  background-color: rgb(247, 231, 77);
}

#Login ul {
  float: left;
  overflow: hidden;
  margin-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid black;
}

#Login li {
  float: left;
  font-size: 12px;
}

#Login li {
  margin-right: 10px;
}

/* --------------footer ------------*/
footer {
  border-top: solid 3px;
  width: 100%;
  height: 200px;
  background-color: white;
}

.Topleft {
  display: inline-block;
}
.Topright {
  display: inline-block;
  float: right;
}

.MainName {
  text-align: center;
  font-size: 25px;
}
.left {
  display: inline-block;
}

.right {
  float: right;
  margin-top: 40px;
}
.center {
  display: inline-block;
  margin-left: 520px;
}
