<!--주석 필수-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>펫송완료</title>
    <!--    <link rel="stylesheet" href="/static/css/index.css">-->
    <link rel="stylesheet" href="/src/main/resources/static/css/MainMenu/DOG/Dog_main.css">
    <link rel="stylesheet" href="/src/main/resources/staticcss//Main/header.scss">
    <!-- 네비게이션 관련 js 링크 -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try { Typekit.load({ async: true }); } catch (e) { }</script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- 폰트어썸 이미지 불러오기 링크 -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#headers").load("/src/main/resources/templates/layout/header.html");
            $("#footers").load("/src/main/resources/templates/layout/footer.html");
        }
        );
    </script>

</head>

<body>
    <div class="all">
    <div class="container">

        <!-- -----------------------------------------------------최고 상단 메뉴 바 + 검색창---------------------------------------------------------------------       -->

        <div id="headers"></div>

        <!-- --------------------------------------------------------------------------메인 왼쪽 ------------------------------------------------------------------------ -->
<main>
    <div id="top-main">
    <h1>DOG</h1>
</div>


<div id="season">
    <ul>
 <li><a href="Dog_SS.html">S/S</a></li>        
 <li><a href="Dog_FW.html">F/W</a></li>    
</ul>
</div>

    <div id="product-list">
        <ul>
            <li class="product">
                <img class="dog-photo" src="/src/main/resources/static/image/Dog_FW/product1.jpeg">
                <h4 class=product-name>몽블랑리버시블패딩SET(Mint)</h4>
                <div class="price">
                    <span>54,000원</span>
                    <div class="icon">
                        <img id="empty-heart1"  class="empty-heart" onclick="jjim(1)" src="/src/main/resources/static/image/icon_logo/empty-heart.png">
                        <img id="empty-cart1"  class="empty-cart"   onclick="baguni(1)"  src="/src/main/resources/static/image/icon_logo/empty-cart.png">
                    </div>

                </div>
            </li>
            <li class="product">
                <img class="dog-photo" src="/src/main/resources/static/image/Dog_FW/product2.jpeg">
                <h4 class=product-name>몽블랑리버시블패딩SET(Pink)</h4>
                <div class="price">
                    <span>54,000원</span>
                    <div class="icon">
                        <img id="empty-heart2"  class="empty-heart" onclick="jjim(2)" src="/src/main/resources/static/image/icon_logo/empty-heart.png">
                        <img id="empty-cart2"  class="empty-cart"   onclick="baguni(2)"  src="/src/main/resources/static/image/icon_logo/empty-cart.png">
                    </div>

                </div>
            </li>
            <li class="product">
                <img class="dog-photo" src="/src/main/resources/static/image/Dog_FW/product3.jpeg">
                <h4 class=product-name>몽블랑리버시블패딩SET(Ivory)</h4>
                <div class="price">
                    <span>54,000원</span>
                    <div class="icon">
                        <img id="empty-heart3"  class="empty-heart" onclick="jjim(3)" src="/src/main/resources/static/image/icon_logo/empty-heart.png">
                        <img id="empty-cart3"  class="empty-cart"   onclick="baguni(3)"  src="/src/main/resources/static/image/icon_logo/empty-cart.png">
                    </div>

                </div>
            </li>
            <li class="product">
                <img class="dog-photo" src="/src/main/resources/static/image/Dog_FW/product6.jpeg">
                <h4 class=product-name>누빔패딩조끼(Grey)</h4>
                <div class="price">
                    <span>38,000원</span>
                    <div class="icon">
                        <img id="empty-heart4"  class="empty-heart" onclick="jjim(4)" src="/src/main/resources/static/image/icon_logo/empty-heart.png">
                        <img id="empty-cart4"  class="empty-cart"   onclick="baguni(4)"  src="/src/main/resources/static/image/icon_logo/empty-cart.png">
                    </div>

                </div>
            </li>
            <li class="product">
                <img class="dog-photo" src="/src/main/resources/static/image/Dog_FW/product10.jpeg">
                <h4 class=product-name>누빔패딩조끼(Navy)</h4>
                <div class="price">
                    <span>38,000원</span>
                    <div class="icon">
                        <img id="empty-heart5"  class="empty-heart" onclick="jjim(5)" src="/src/main/resources/static/image/icon_logo/empty-heart.png">
                        <img id="empty-cart5"  class="empty-cart"   onclick="baguni(5)"  src="/src/main/resources/static/image/icon_logo/empty-cart.png">
                    </div>

                </div>
            </li>

            <li class="product">
                <img class="dog-photo" src="/src/main/resources/static/image/Dog_FW/product11.jpeg">
                <h4 class=product-name>누빔패딩조끼(White)</h4>
                <div class="price">
                    <span>38,000원</span>
                    <div class="icon">
                        <img id="empty-heart6"  class="empty-heart" onclick="jjim(6)" src="/src/main/resources/static/image/icon_logo/empty-heart.png">
                        <img id="empty-cart6"  class="empty-cart"   onclick="baguni(6)"  src="/src/main/resources/static/image/icon_logo/empty-cart.png">
                    </div>

                </div>
            </li>
            <li class="product">
                <img class="dog-photo" src="/src/main/resources/static/image/Dog_FW/product12.jpeg">
                <h4 class=product-name>베이직S/T(Beige)</h4>
                <div class="price">
                    <span>24,000원</span>
                    <div class="icon">
                        <img id="empty-heart7"  class="empty-heart" onclick="jjim(7)" src="/src/main/resources/static/image/icon_logo/empty-heart.png">
                        <img id="empty-cart7"  class="empty-cart"   onclick="baguni(7)"  src="/src/main/resources/static/image/icon_logo/empty-cart.png">
                    </div>

                </div>
            </li>

            <li class="product">
                <img class="dog-photo" src="/src/main/resources/static/image/Dog_FW/product13.jpeg">
                <h4 class=product-name>베이직S/T(Burgundy)</h4>
                <div class="price">
                    <span>24,000원</span>
                    <div class="icon">
                        <img id="empty-heart8"  class="empty-heart" onclick="jjim(8)" src="/src/main/resources/static/image/icon_logo/empty-heart.png">
                        <img id="empty-cart8"  class="empty-cart"   onclick="baguni(8)"  src="/src/main/resources/static/image/icon_logo/empty-cart.png">
                    </div>

                </div>
            </li>

            <li class="product">
                <img class="dog-photo" src="/src/main/resources/static/image/Dog_FW/product17.jpeg">
                <h4 class=product-name>덤블베스트(Charcoal)</h4>
                <div class="price">
                    <span>22,000원</span>
                    <div class="icon">
                        <img id="empty-heart9"  class="empty-heart" onclick="jjim(9)" src="/src/main/resources/static/image/icon_logo/empty-heart.png">
                        <img id="empty-cart9"  class="empty-cart"   onclick="baguni(9)"  src="/src/main/resources/static/image/icon_logo/empty-cart.png">
                    </div>

                </div>
            </li>
            <li class="product">
                <img class="dog-photo" src="/src/main/resources/static/image/Dog_FW/product18.jpeg">
                <h4 class=product-name>덤블베스트(Beige)</h4>
                <div class="price">
                    <span>22,000원</span>
                    <div class="icon">
                        <img id="empty-heart10"  class="empty-heart" onclick="jjim(10)" src="/src/main/resources/static/image/icon_logo/empty-heart.png">
                        <img id="empty-cart10"  class="empty-cart"   onclick="baguni(10)"  src="/src/main/resources/static/image/icon_logo/empty-cart.png">
                    </div>

                </div>
            </li>
            <li class="product">
                <img class="dog-photo" src="/src/main/resources/static/image/Dog_SS/product7.jpeg">
                <h4 class=product-name>쉐이크롭티(Beige)</h4>
                <div class="price">
                    <span>11,000원</span>
                    <div class="icon">
                        <img id="empty-heart11"  class="empty-heart" onclick="jjim(11)" src="/src/main/resources/static/image/icon_logo/empty-heart.png">
                        <img id="empty-cart11"  class="empty-cart"   onclick="baguni(11)"  src="/src/main/resources/static/image/icon_logo/empty-cart.png">
                    </div>

                </div>
            </li>
            <li class="product">
                <img class="dog-photo" src="/src/main/resources/static/image/Dog_SS/product8.jpeg">
                <h4 class=product-name>쉐이크롭티(White)</h4>
                <div class="price">
                    <span>11,000원</span>
                    <div class="icon">
                        <img id="empty-heart12"  class="empty-heart" onclick="jjim(12)" src="/src/main/resources/static/image/icon_logo/empty-heart.png">
                        <img id="empty-cart12"  class="empty-cart"   onclick="baguni(12)"  src="/src/main/resources/static/image/icon_logo/empty-cart.png">
                    </div>

                </div>
            </li>

            <li class="product">
                <img class="dog-photo" src="/src/main/resources/static/image/Dog_SS/product7.jpeg">
                <h4 class=product-name>쉐이크롭티(Black)</h4>
                <div class="price">
                    <span>11,000원</span>
                    <div class="icon">
                        <img id="empty-heart13"  class="empty-heart" onclick="jjim(13)" src="/src/main/resources/static/image/icon_logo/empty-heart.png">
                        <img id="empty-cart13"  class="empty-cart"   onclick="baguni(13)"  src="/src/main/resources/static/image/icon_logo/empty-cart.png">
                    </div>

                </div>
            </li>
            <li class="product">
                <img class="dog-photo" src="/src/main/resources/static/image/Dog_SS/product14.jpeg">
                <h4 class=product-name>아쮸크롭티(Lime)</h4>
                <div class="price">
                    <span>11,000원</span>
                    <div class="icon">
                        <img id="empty-heart14"  class="empty-heart" onclick="jjim(14)" src="/src/main/resources/static/image/icon_logo/empty-heart.png">
                        <img id="empty-cart14"  class="empty-cart"   onclick="baguni(14)"  src="/src/main/resources/static/image/icon_logo/empty-cart.png">
                    </div>

                </div>
            </li>

            <li class="product">
                <img class="dog-photo" src="/src/main/resources/static/image/Dog_SS/product15.jpeg">
                <h4 class=product-name>아쮸크롭티(Pink)</h4>
                <div class="price">
                    <span>11,000원</span>
                    <div class="icon">
                        <img id="empty-heart15"  class="empty-heart" onclick="jjim(15)" src="/src/main/resources/static/image/icon_logo/empty-heart.png">
                        <img id="empty-cart15"  class="empty-cart"   onclick="baguni(15)"  src="/src/main/resources/static/image/icon_logo/empty-cart.png">
                    </div>

                </div>
            </li>

            <li class="product">
                <img class="dog-photo" src="/src/main/resources/static/image/Dog_SS/product16.jpeg">
                <h4 class=product-name>아쮸크롭티(Blue)</h4>
                <div class="price">
                    <span>11,000원</span>
                    <div class="icon">
                        <img id="empty-heart16"  class="empty-heart" onclick="jjim(16)" src="/src/main/resources/static/image/icon_logo/empty-heart.png">
                        <img id="empty-cart16"  class="empty-cart"   onclick="baguni(16)"  src="/src/main/resources/static/image/icon_logo/empty-cart.png">
                    </div>

                </div>
            </li>
        </ul>

    </div>
</main>
    
        <!-- --------------------------------------------메인 bottom---------------------------------- -->

        <!-- ------------------------------------------------------------------------------------푸터------------------------------------------------------------------------------ -->
        <div id="footers"></div>


    </div>
</div>
    <!-- js 링크 -->
    <script src="/src/main/resources/static/js/mainmenu/jjim.js"></script>

</body>

</html>