<!--주석 필수-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>펫송완료</title>
    <!--    <link rel="stylesheet" href="/static/css/index.css">-->
    <link rel="stylesheet" href="/src/main/resources/static/css/MainMenu/DOG/Dog_FW.css">
    <link rel="stylesheet" href="/src/main/resources/staticcss//Main/header.scss">
    <!-- 네비게이션 관련 js 링크 -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try { Typekit.load({ async: true }); } catch (e) { }</script>

    <!-- 폰트어썸 이미지 불러오기 링크 -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<script type="text/javascript">
    $(document).ready(function () {
        $("#headers").load("/src/main/resources/templates/Header_Footer/header.html");
        $("#footers").load("/src/main/resources/templates/Header_Footer/footer.html");
    }
    );
</script>

</head>

<body>
    <div class="container">

        <!-- -----------------------------------------------------최고 상단 메뉴 바 + 검색창---------------------------------------------------------------------       -->
      
        <div id="headers"></div>

        <!-- --------------------------------------------------------------------------메인 왼쪽 ------------------------------------------------------------------------ -->

        <main>
            <!-- -------------------------------------------메인 상단--------------------------------------- -->
            <div id="top-main">
                <!-- ---------------------------------------메인 상단 왼쪽-------------------------------- -->
                <div id="top-left">
                    <div class="left-content">
                        <h1>DOG's F/W</h1>
                        <h4>우리 아이의 가을,겨울을 책임지는 드레스들이 준비되어있습니다.</h4>
                        <br>
                        <h2>New F/S Collection</h2>
                            
                                <img src="/src/main/resources/static/image/product1.jpeg" id=mainImage class="n1" alt="YsjImage"
                                    style="width:650px;height:600px;">
                                <img src="/src/main/resources/static/image/product2.jpeg" id=mainImage class="n2" alt="YsjImage"
                                    style="width:800px;height:700px;">
                                <img src="/src/main/resources/static/image/product3.jpeg" id=mainImage class="n3" alt="YsjImage"
                                    style="width:800px;height:700px;">
                                <img src="/src/main/resources/static/image/product4.jpeg" id=mainImage class="n4" alt="YsjImage"
                                    style="width:800px;height:700px;">
                                <img src="/src/main/resources/static/image/product5.jpeg" id=mainImage class="n5" alt="YsjImage"
                                    style="width:800px;height:700px;">
                            

                 
                    </div>
                </div>
                <!-- ---------------------------------------메인 상단 오른쪽-------------------------------- -->

                <div id="top-right">
                    <div id="right-content">

                        <h2>Best</h2>
                        <img src="/src/main/resources/static/image/product3.jpeg">
                        <br>
                        <h2>Sale</h2>
                        <img src="/src/main/resources/static/image/product2.jpeg">
                    </div>
                </div>
            </div>
            <!-- ---------------------------------------메인 하단 -------------------------------- -->

            <div id="bottom-main">
                <!-- ---------------------------------------메뉴 및 검색창 및 total-------------------------------- -->

                <div id="bottom-main-top">
                    <div id="top1">
                        <ul>
                            <li>ALL</li>
                            <li>신상품</li>
                            <li>가격</li>
                            <li>인기상품</li>
                            <li>좋아요</li>
                        </ul>
                        <div id="search">
                            <input type="text" class="search-text">
                            <button class="search-btn"><i class="fas fa-search"></i></button>
                        </div>
                    </div>

                    <div id="top2">
                        <li>Total 18</li>
                    </div>
                </div>

                <!-- ---------------------------------------강아지 상품-------------------------------- -->

                <div id="bottom-main-middle">


                    <ul class="cloth">
                        <li>
                            <img class="dog-photo" src="/src/main/resources/static/image/instagram1.jpg">
                            <h2>야옹이의찰칵</h2>
                            <div id="price">
                                <span>10000원</span>
                                <div>
                                    <i class="fas fa-shopping-cart"></i>
                                    <i class="far fa-heart"></i>
                                </div>

                            </div>
                        </li>
                        <li>
                            <img class="dog-photo" src="/src/main/resources/static/image/instagram2.jpg">
                            <h2>야옹이의찰칵</h2>
                            <div id="price">
                                <span>10000원</span>
                                <div>
                                    <i class="fas fa-shopping-cart"></i>
                                    <i class="far fa-heart"></i>
                                </div>

                            </div>
                        </li>
                        <li>
                            <img class="dog-photo" src="/src/main/resources/static/image/instagram3.jpg">
                            <h2>야옹이의찰칵</h2>
                            <div id="price">
                                <span>10000원</span>
                                <div>
                                    <i class="fas fa-shopping-cart"></i>
                                    <i class="far fa-heart"></i>
                                </div>

                            </div>
                        </li>
                        <li>
                            <img class="dog-photo" src="/src/main/resources/static/image/instagram4.jpg">
                            <h2>야옹이의찰칵</h2>
                            <div id="price">
                                <span>10000원</span>
                                <div>
                                    <i class="fas fa-shopping-cart"></i>
                                    <i class="far fa-heart"></i>
                                </div>

                            </div>
                        </li>
                        <li>
                            <img class="dog-photo" src="/src/main/resources/static/image/instagram5.jpg">
                            <h2>야옹이의찰칵</h2>
                            <div id="price">
                                <span>10000원</span>
                                <div>
                                    <i class="fas fa-shopping-cart"></i>
                                    <i class="far fa-heart"></i>
                                </div>

                            </div>
                        </li>
                        <li>
                            <img class="dog-photo" src="/src/main/resources/static/image/instagram6.jpg">
                            <h2>야옹이의찰칵</h2>
                            <div id="price">
                                <span>10000원</span>
                                <div>
                                    <i class="fas fa-shopping-cart"></i>
                                    <i class="far fa-heart"></i>
                                </div>

                            </div>
                        </li>
                        <li>
                            <img class="dog-photo" src="/src/main/resources/static/image/instagram7.jpg">
                            <h2>야옹이의찰칵</h2>
                            <div id="price">
                                <span>10000원</span>
                                <div>
                                    <i class="fas fa-shopping-cart"></i>
                                    <i class="far fa-heart"></i>
                                </div>

                            </div>
                        </li>
                        <li>
                            <img class="dog-photo" src="/src/main/resources/static/image/instagram8.jpg">
                            <h2>야옹이의찰칵</h2>
                            <div id="price">
                                <span>10000원</span>
                                <div>
                                    <i class="fas fa-shopping-cart"></i>
                                    <i class="far fa-heart"></i>
                                </div>

                            </div>
                        </li>
                        <li>
                            <img class="dog-photo" src="/src/main/resources/static/image/instagram9.jpg">
                            <h2>야옹이의찰칵</h2>
                            <div id="price">
                                <span>10000원</span>
                                <div>
                                    <i class="fas fa-shopping-cart"></i>
                                    <i class="far fa-heart"></i>
                                </div>

                            </div>
                        </li>






                    </ul>

                </div>

                <!-- ---------------------------------------페이지 표시 버튼------------------------------- -->

                <div id="bottom-main-bottom">

                    <div class="buttons">
                        <ul>
                            <li><i class="fas fa-angle-double-left"></i></li>
                            <li><i class="fas fa-angle-left"></i></li>
                            <li>1</li>
                            <li>2</li>
                            <li><i class="fas fa-angle-right"></i></li>
                            <li><i class="fas fa-angle-double-right"></i></li>

                        </ul>
                    </div>



                </div>





        </main>
        <!-- --------------------------------------------메인 bottom---------------------------------- -->

        <!-- ------------------------------------------------------------------------------------푸터------------------------------------------------------------------------------ -->
    <div id="footers"></div>


    </div>
    <!-- js 링크 -->
    <script src="/src/main/resources/static/js/Dog_SS.js"></script>

</body>

</html>