* {
  margin: 0; /* 마진 리셋 */
  padding: 0; /* 패딩 리셋 */
}

body {
  margin: 0 50px;
}
ul {
  list-style: none;
}

li {
  display: inline-block;
}
/* ------------header--------------*/

header {
  width: 100%;
  height: 300px;
}

#top {
  width: 100%;
  height: 30px;
  background-color: pink;
}

#logo {
  width: 100%;
  height: 160px;
  background-color: green;
}

#bottom {
  width: 100%;
  height: 30px;
  background-color: blue;
}

#menu-bar {
  width: 100%;
  height: 80px;
  background-color: aquamarine;
}
/* --------------middle --------*/

main {
  width: 100%;
  height: 1000px;
  background-color: brown;
}

/* --------------footer ------------*/
footer {
  width: 100%;
  height: 200px;
  background-color: yellow;
}
