<!--주석 필수-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
<!--    <link rel="stylesheet" href="/static/css/index.css">-->
<link rel="stylesheet" href="/src/main/resources/static/css/style.css ">
</head>
<body>
   <header>
            <div id="top">
                <ul class="top-bar">
                    <li>Login</li>
                    <li>Join</li>
                    <li>Wish</li>
                    <li>Cart</li>
                    <li>Orderlist</li>
                    <li>Mypage</li>
                </ul>
            </div>
            <div id="logo">
            </div>
            <div id="bottom">

            </div>
            <div id="menu-bar">

            </div>
        </header>

<main>
    
</main>

<footer>

</footer>
</body>
</html>