<!--예시가 완성되면 카톡으로 공지할겡-->
<!-- 예시 페이지 -->
<!--주석 필수-->
<!DOCTYPE html>
<html lang="en" class="h-100"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>펫송완료</title>
    <!--    <link rel="stylesheet" href="/static/css/index.css">-->
    <link rel="stylesheet" href="/src/main/resources/static/css/Main/Notice.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/Main/header.scss">
    <!-- 네비게이션 관련 js 링크 -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try { Thypekit.load({ async: true }); } catch (e) { }</script>

    <!-- 폰트어썸 이미지 불러오기 링크 -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />





    <script type="text/javascript">
        $(document).ready(function () {
            $("#headers").load("/src/main/resources/templates/Header_Footer/header.html");
            $("#footers").load("/src/main/resources/templates/Header_Footer/footer.html");
        }
        );
    </script>

</head>

<body>
<div class="container">

    <!-- -----------------------------------------------------최고 상단 메뉴 바 + 검색창---------------------------------------------------------------------       -->

    <div id="headers"></div>

    <!-- --------------------------------------------------------------------------메인 왼쪽 ------------------------------------------------------------------------ -->
    <main>
        <div id="main-top">
            <div id="QnA">Notice</div>
        </div>

        <div id="main-middle">
            <div id="main-middle top">

<!--                보류사항 -->
<!--                <li class="t1">배송관련</li>-->
<!--                <li class="t2">상품관련</li>-->


                <li class="page-wrapper t3" id="write">
                    <a class="btn trigger" href="#">
                        글쓰기
                    </a>
                </li>


                <div class="modal-wrapper">

                    <div id="modal-top">
                        <span> 글쓰기</span>
                        <a class="btn-close trigger" href="#">
                            <i class="fas fa-window-close fa-2x"></i>
                        </a>
                    </div>

                    <div id="modal-middle">
                        <div id="m1">
                            <label for="title-name" >제목</label>
                            <input type="text" id="title" value="제목을 입력해주세요." style="color: gray;">
                            <select id="modal-drop">
                                <option value="">문의관련</option>
                                <option value="week">배송관련</option>
                                <option value="one-month">물품관련</option>

                            </select>
                        </div>
                        <div id="m2">
                            <label for="title-name">작성자</label>
                            <input type="text" id="modal-writer" value="미입력시 등록 아이디이 저장됩니다." style="color: gray;">
                            <input type="checkbox" style="width: 15px; height: 15px;">
                            <label for="hidden-name" style="font-size:15px;">익명</label>
                        </div>
                        <div id="m3">
                            <input type="text" id="modal-text" value="문의 내용을 적어주세요. (200글자)"
                                   style="color: gray; text-align: left; ">

                        </div>
                        <div id="m4">
                            <button>등록하기</button>
                        </div>


                    </div>

                </div>


            </div>
            <div id="main-middle-center">
                <table id="quiz-table" border="0">
                    <tr>
                        <th class="th1"> 번호</th>
                        <th id="th2"> 작성자 </th>
                        <th id="th3"> 제목 </th>
                        <th id="th4"> 내용 </th> <!--글의 내용은 클릭시 볼 수 있게 할까?-->
                        <th> 작성일</th>
                        <th> 조회수</th>
                    </tr>
                    <div th:each="board : ${boards}" >
                    <tr>
                        <td></td> <!-- 번호 일단 보류-->
                        <td th:href="@{/board/{id}(id=${board.id})}" ></td> <!-- 작성자 -->
                        <td th:text="${board.title}" ></td> <!-- 제목 -->
                        <td th:text="${board.content}" ></td> <!-- 내용 -->
                        <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd')}" ></td> <!-- 작성일 -->
                        <td></td> <!-- 조회수 일단 보류 -->
                    </tr>
                    </div>

                </table>


            </div>

        </div>

        <div id="main-bottom">

            <div id="search-bar">


                <select id="day-search">
                    <option value="">직접입력</option>
                    <option value="week">1주일</option>
                    <option value="one-month">한달</option>
                    <option value="three-month">세달</option>
                    <option value="All-day">전체</option>
                </select>

                <select id="topic-search">
                    <option value="">직접입력</option>
                    <option value="title">제목</option>
                    <option value="writer">글쓴이</option>
                    <option value="ID">아이디</option>
                    <option value="nickname">별명</option>
                    <option value="product">상품정보</option>
                </select>
                <!--검색창-->
                <!--검색창 범위지정 다시 부탁-->
                <div id="search-menu"> <!--기존의 id-->
                    <form style="position: relative; top: 40px;" method="get" th:action="@{/}">
                    <input type="search" name="search" th:value="${param.search}"  placeholder="Search">
                    <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>

            <div id="bottom-number">

                <div class="buttons">
                    <ul>
                        <li><i class="fas fa-angle-double-left"></i></li>
                        <li><i class="fas fa-angle-left"></i></li>
                        <li>1</li>
                        <li>2</li>
                        <li><i class="fas fa-angle-right"></i></li>
                        <li><i class="fas fa-angle-double-right"></i></li>

                    </ul>
                </div>
            </div>
        </div>


    </main>

    <!-- --------------------------------------------메인 bottom---------------------------------- -->

    <!-- ------------------------------------------------------------------------------------푸터------------------------------------------------------------------------------ -->
    <div id="footers"></div>


</div>
<!-- js 링크 -->
<script src="/src/main/resources/static/js/QnA.js"></script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<!--Ajax 선언과 Bootstrap 선언 -->
<!-- Ajax 선언은 데이터를 따로 비동기식으로 넘기기 위해 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../static/js/bootstrap/bootstrap.min.js"></script>
</body>

</html>