<!--주석 필수-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--    th:href="@{../}" -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{https://use.fontawesome.com/releases/v5.2.0/js/all.js}" src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>펫송완료</title>
    <!--    <link rel="stylesheet" href="/static/css/index.css">-->
    <link rel="stylesheet" th:href="@{../css/TopMenu/oderlist.css}" href="/src/main/resources/static/css/TopMenu/oderlist.css">
    <link rel="stylesheet" th:href="@{../css/Main/header.scss}" href="/src/main/resources/staticcss/css/Main/header.scss">
    <!-- 네비게이션 관련 js 링크 -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js}" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script th:src="@{https://use.typekit.net/hoy3lrg.js}" src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try { Typekit.load({ async: true }); } catch (e) { }</script>

    <!-- 폰트어썸 이미지 불러오기 링크 -->
    <link rel="stylesheet" th:href="@{https://pro.fontawesome.com/releases/v5.10.0/css/all.css}" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!--    일부러 타임리프 안건거-->
    <!--    화면단에 header, footer 출력하기 위함-->
    <script src="../static/js/layout_JS/call_layout.js"type="text/javascript"> </script>


</head>

<body>
    <div class="all">
    <div class="container">

        <!-- -----------------------------------------------------최고 상단 메뉴 바 + 검색창---------------------------------------------------------------------       -->

        <div id="headers"></div>

        <!-- --------------------------------------------------------------------------메인 왼쪽 ------------------------------------------------------------------------ -->
        <main>
            <div id="main-top">
                    <span>Order</span>
            </div>
            
            <div id="main-bottom">
                <div id="main-bottom-top">
                    <li class="li1">
                        <select id="day-search">
                            <option value="week">1주일</option>
                            <option value="one-month">한달</option>
                            <option value="three-month">세달</option>
                            <option value="All-day">전체</option>
                        </select>
                    </li>
                    <li class="li2">
                        <input id="calendar" type="date" min="2020-12-31" max="2021-12-31" st>

                    </li>
                    <li class="li3">
                        <select id="option">
                            <option value="">전체상태</option>
                            <option value="">배송중</option>
                            <option value="">배송완료/픽업완료</option>
                            <option value="">구매확정</option>
                            <option value="">교환</option>
                            <option value="">환불</option>
                            <option value="">환불완료</option>

                        </select>
                    </li>
                </div>



                 <div id="main-bottom-bottom">
                        <table border="0">
                            <tr class="order-head">
                                <td style="width: 70px;"></td>
                                <td style="width: 70px;"></td>
                                <td>상품정보</td>
                                <td>주문일자</td>
                                <td>주문번호</td>
                                <td>주문금액</td>
                                <td>주문상태</td>

                            </tr>
                            <tr>
                                <td><input type="checkbox" style="width: 20px; height: 20px;"></td>
                                <td><img src="/src/main/resources/static/image/dog1.jpeg" style="width: 80px; height: 80px;"></td>
                                <td>누빌패딩강아지(Red)-S</td>
                                <td>2021.12.20</td>
                                <td>xxxxxxx-xxxxxx</td>
                                <td>31,200원</td>
                                <td>배송완료</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" style="width: 20px; height: 20px;"></td>
                                <td><img src="/src/main/resources/static/image/dog1.jpeg" style="width: 80px; height: 80px;"></td>
                                <td>누빌패딩강아지(Navy)-M</td>
                                <td>2021.12.20</td>
                                <td>xxxxxxx-xxxxxx</td>
                                <td>31,200원</td>
                                <td>배송완료</td>
                            </tr>
                        
                        </table>
                 </div>

                 <div id="bottom-search">
                     <li type="button">주문취소</li>
                     <li type="button">반품</li>
                     <li type="button">교환</li>
                    <div id="search-menu">
                        <input type="text" class="search-text">
                        <button class="search-btn"><i class="fas fa-search"></i></button>
                    </div>

                 </div>
            </div>

        </main>

        <!-- --------------------------------------------메인 bottom---------------------------------- -->

        <!-- ------------------------------------------------------------------------------------푸터------------------------------------------------------------------------------ -->
        <div id="footers"></div>


    </div>
</div>
    <!-- js 링크 -->
    <script th:src="@{../js/Dog_SS.js}" src="/src/main/resources/static/js/Dog_SS.js"></script>

</body>

</html>