<!--주석 필수-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>펫송완료</title>
    <!--    <link rel="stylesheet" href="/static/css/index.css">-->
    <link rel="stylesheet" href="/src/main/resources/static/css/TopMenu/joinus.css">
    <link rel="stylesheet" href="/src/main/resources/staticcss//Main/header.scss">
    <!-- 네비게이션 관련 js 링크 -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try { Typekit.load({ async: true }); } catch (e) { }</script>

    <!-- 폰트어썸 이미지 불러오기 링크 -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#headers").load("/src/main/resources/templates/Header_Footer/header.html");
            $("#footers").load("/src/main/resources/templates/Header_Footer/footer.html");
        }
        );
    </script>

</head>

<body>
    <div class="container">


        <div id="headers"></div>

        
    <main>
        <div class="sign-up">
            <div class="join_form">
                <h2>회원가입</h2>
                <table>
                    <colgroup>
                        <col width="30%" />
                        <col width="auto" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th><span>아이디</span></th>
                            <td><input type="text" placeholder="ID 를 입력하세요."></td>
                        </tr>
                        <tr>
                            <th><span>이름</span></th>
                            <td><input type="text" placeholder=""></td>
                        </tr>
                        <tr>
                            <th><span>비밀번호</span></th>
                            <td><input type="text" placeholder="비밀번호를 입력해주세요."></td>
                        </tr>
                        <tr>
                            <th><span>비밀번호 확인</span></th>
                            <td><input type="text" placeholder="비밀번호를 확인하세요"></td>
                        </tr>
                        <tr>
                            <th><span>닉네임</span></th>
                            <td><input type="text" placeholder=""></td>
                        </tr>
                        <tr class="email">
                            <th><span>이메일</span></th>
                            <td>
                                <input type="text" class="email" placeholder=""><span class="mar10">@</span>
                                <input type="text" class="email email2" placeholder="">
                            </td>
                        </tr>
    
                        <tr>
                            <th><span>휴대폰 번호</span></th>
                            <td> <input type="text" class="phone" placeholder=""><span class="mar10">-</span>
                                <input type="text" class="phone2" placeholder=""><span class="mar10">-</span>
                                <input type="text" class="phone2" placeholder="">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            <div class="exform_txt"><span></span> 표시는 필수적으로 입력해주셔야 가입이 가능합니다.</div>
            <div class="signbtn"><button id="signup-Btn" type="button">회원가입</button></div>
        </div>
    </main>

        <div id="footers"></div>


    </div>
    <!-- js 링크 -->
    <script src="/src/main/resources/static/js/Dog_SS.js"></script>

</body>

</html>