<!--주석 필수-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>펫송완료</title>
    <!--    <link rel="stylesheet" href="/static/css/index.css">-->
    <link rel="stylesheet" href="/src/main/resources/static/css/TopMenu/login.css">
    <link rel="stylesheet" href="/src/main/resources/staticcss//Main/header.scss">
    <!-- 네비게이션 관련 js 링크 -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try { Typekit.load({ async: true }); } catch (e) { }</script>

    <!-- 폰트어썸 이미지 불러오기 링크 -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#headers").load("/src/main/resources/templates/Header_Footer/header.html");
            $("#footers").load("/src/main/resources/templates/Header_Footer/footer.html");
        }
        );
    </script>

</head>

<body>
    <div class="container">


        <div id="headers"></div>

<main>
    <div id="Login">
        <h1>Member Login</h1>
        <form method="post" id="authForm" action="#">
            <div id="Login-top">
                <input type="text" id="loginId" name="loginId" placeholder="ID">
                <input type="password" id="loginPw" name="password" placeholder="Password">
            </div>

            <button id="Login-Btn" type="submit" disabled="disabled">로그인</button>
            <button class="naver-Btn" type="submit" disabled="disabled">네이버 로그인</button>
            <button class="kakao-Btn" type="submit" disabled="disabled">카카오 로그인</button>


            <ul>
                <li><a href="#">아이디찾기</a></li>
                <li><a href="#">비밀번호찾기</a></li>
            </ul>
            <button id="Login-Btn" type="button" onclick="location.href='joinus.html'">회원가입</button>


        </form>
    </div>
        </main>

        <div id="footers"></div>


    </div>
    <!-- js 링크 -->
    <script src="/src/main/resources/static/js/Dog_SS.js"></script>

</body>

</html>