<!--주석 필수-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>펫송완료</title>
    <!--    <link rel="stylesheet" href="/static/css/index.css">-->
    <link rel="stylesheet" href="/src/main/resources/static/css/TopMenu/mypage.css">
    <link rel="stylesheet" href="/src/main/resources/staticcss//Main/header.scss">
    <!-- 네비게이션 관련 js 링크 -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try { Typekit.load({ async: true }); } catch (e) { }</script>

    <!-- 폰트어썸 이미지 불러오기 링크 -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#headers").load("/src/main/resources/templates/Header_Footer/header.html");
            $("#footers").load("/src/main/resources/templates/Header_Footer/footer.html");
        }
        );
    </script>

</head>

<body>
    <div class="container">

        <!-- -----------------------------------------------------최고 상단 메뉴 바 + 검색창---------------------------------------------------------------------       -->

        <div id="headers"></div>

        <!-- --------------------------------------------------------------------------메인 왼쪽 ------------------------------------------------------------------------ -->
        <main>
                
                    <div id="main-top">
                        <div id="main-top-top">
                            <h1>MyPage</h1>
                        </div>
                        <div id="main-top-middle">
                            <div id="main-top-middle-1">
                                    <i class="fas fa-user-circle fa-5x"></i>                            </div>
                            <div id="main-top-middle-2">
                                <li id="i1">홍길동</li>
                                <li id="i2">vip 회원</li>
                                <li id="i3">회원정보수정</li>
                                <li id="i4">Wish</li>
                                <li id="i5">Cart</li>

                            </div>


                        </div>
                        <div id="main-top-bottom">
                            <li>주문상황</li>
                            <li>최근본상품</li>
                            <li>쿠폰</li>
                            <li>마일리지</li>
                            <li>내게시글</li>
                        </div>
              

                    <div id="main-middle">

                        <div id="info1">
                            <div id="info1-top1">
                                <li>주문상황</li>
                            </div>
                            <div id="info1-top2">
                                <li>입금전<br> 0</li>
                                <i class="fas fa-chevron-right fa-3x"></i>
                                <li>배송준비중<br> 1</li>
                                <i class="fas fa-chevron-right fa-3x"></i>
                                <li>배송중<br> 0</li>
                                <i class="fas fa-chevron-right fa-3x"></i>
                                <li>배송완료<br> 1</li>
                            </div>

                        </div>

                        <div id="info2">
                            <div id="info2-top1">
                                <li>주문상황</li>
                            </div>
                            <div id="info2-top2">
                                <table>
                                    <tr>
                                        <td>상품정보</td>
                                        <td><img src="/src/main/resources/static/image/dog1.jpeg" style="width: 30px; height: 30px;">누빌패딩강아지(Red)-s</td>
                                        <td><img src="/src/main/resources/static/image/dog1.jpeg"  style="width: 30px; height: 30px;">누빌패딩강아지(Red)-s</td>

                                    </tr>
                                    <tr>
                                        <td>판매가</td>
                                        <td>31,200원</td>
                                        <td>40,000원</td>
                                    
                                    </tr>
                                    <tr>
                                        <td>Wish</td>
                                        <td><i class="fas fa-plus-square"></i></td>
                                        <td><i class="fas fa-plus-square"></i></td>
                                    
                                    </tr>
                                    <tr>
                                        <td>Cart</td>
                                        <td><i class="fas fa-plus-square"></i></td>
                                        <td><i class="fas fa-plus-square"></i></td>
                                    
                                    </tr>
                                </table>
                            </div>
                          
                        </div>



                        <div id="info3"></div>
                        <div id="info4"></div>



                    </div>
                        

        </main>

        <!-- --------------------------------------------메인 bottom---------------------------------- -->

        <!-- ------------------------------------------------------------------------------------푸터------------------------------------------------------------------------------ -->
        <div id="footers"></div>


    </div>
    <!-- js 링크 -->
    <script src="/src/main/resources/static/js/Dog_SS.js"></script>

</body>

</html>