
    #sidebox2 {
       
        position: absolute;
        width: 120px;
        height: 600px;
        top: 200px;
        left: -170px;
        padding: 3px 10px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;

        opacity: 0.9;
    }
    #sidebox2 img{
        width: 120px;
        height: 150px;
        padding-bottom: 20px;
    }
    #side-cart, #side-like{
        display:  flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100px;
        padding-top:20px ;
        padding-bottom:20px ;
        border-top: 1px solid gray;

    }
    #side-cart :hover {
        color: gray;
    }   
    #side-like :hover {
        color: gray;
    }   
    
